function Main.main 1
push constant 1
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push constant 45
call Output.moveCursor 2
pop temp 0
push constant 13
call String.new 1
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 1
call String.new 1
push constant 51
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 30
push constant 511
push constant 35
call Screen.drawRectangle 4
pop temp 0
call ControlGame.new 0
pop local 0
push local 0
call ControlGame.run 1
pop temp 0
push local 0
call ControlGame.dispose 1
pop temp 0
push constant 0
return
